@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


*{
box-sizing: border-box;
padding: 0;
margin: 0;
}
body{
font-family: 'Merriweather', serif;
font-size: 13px;
color: black;
/* border: 1px red solid; */
}
.ancho{
max-width: 1200px;
margin: 0 auto;
/* border: 1px blue solid; */
}

.ancho_menor {
max-width: 1000px;
margin: 0 auto;
/* border: 1px blue solid; */
}
.barra_rosa{
    height: 10px;
    background-color: #FF3281;
}

.fondo_cafe {
    background-color: #FFF9F1;
    padding-bottom: 35px;
}


header .btn_menu {
    display: none;
}

header .header_sup {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    column-gap: 10px;
    /* border: 1px red solid; */

    margin-left: 10px;
    margin-right: 10px;
}

header .header_sup a i {
    font-size: 45px;
    margin-right: 10px;
    color: black;
}

header .header_inf ul {
    list-style: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 150px;
    border: 2px black solid;

    padding: 10px 20px 10px 20px;
}

header .header_inf ul li a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: all 1s;
}

header .header_inf ul li a:hover {
    text-decoration: underline;
}


header .social_media2 {
    display: none;
}


.Seccion1{

    background-image: url(imagenes/slide1.jpg);
    background-repeat: no-repeat;


}

.Seccion1 article {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    row-gap: 50px;
    /* border: 1px red solid; */
    height: 500px;
}
.Seccion1 article h1 {
    color: white;
    font-weight: 900;
}

.Seccion1 article p {
    max-width: 500px;
    text-align: center;
    color: white;
    font-weight: 700;
}

.Seccion1 article a {
    text-decoration: none;
    margin-right: 10px;

    padding: 20px 30px  20px 30px;
    border: 2px #ED3A84 solid;

    border-radius: 10px;
    color: white;

    font-weight: 300;
}

.Seccion1 article div .boton1 {
    background-color: #ED3A84;
    transition: all 0.5s;
}

.Seccion1 article div .boton1:hover {
    background-color: white;
    color: #ED3A84;
}

.Seccion1 article div .boton2 {
    transition: all 0.5s;
}

.Seccion1 article div .boton2:hover {
    background-color: #ED3A84;
}

.Seccion2 {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
    column-gap: 10px;
    /* border: 1px red solid; */
    background-color: #FFFFFF;
}

.Seccion2 figure {
    border: 8px #41D23A solid;
    opacity: 0.3;
    transition: all 1s;
}

.Seccion2 figure:hover {
    opacity: 1;
}

.Seccion2 figure img {
    width: 100%;
}

.Seccion2 article {
    margin-top: 30px;
}

.Seccion2 article h3 {
    margin-bottom: 50px;
    color: #3A3B3A;
}

.Seccion2 article p {
    line-height: 35px;
    max-width: 500px;
    color: #3A3B3A;
}

.Seccion3 {
    margin-top: 30px;

}

.Seccion3 h2 {
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
    color: #3A3B3A;
}
.flex_Seccion3{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    /* border: 1px red solid; */
}


.Seccion3 figure {
    max-width: 50%;

}

.Seccion3 figure img{
    width: 100%;
    height: 370px;
    border-radius: 20px;
    filter: sepia(100%);
    transition: all 1s;
}

.Seccion3 figure img:hover {
    filter: sepia(0%);
}

.Seccion3 article {
    max-width: 50%;
    margin-top: 10px;
}

.Seccion3 article h3 {
    margin-bottom: 15px;
    color: #3A3B3A;
    font-weight: 900;
}

.Seccion3 article p {
    margin-bottom: 15px;
    line-height: 25px;
    color: #3A3B3A;
}

.Seccion4 {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;

    padding-left: 20px;
    padding-right: 20px;

    /* border: 5px red solid; */
    background-color: #FFF9F1;
}

.Seccion4 article {
    border-radius: 10px;
    background-color: #FFE8A4;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    row-gap: 35px;
    transition: all 0.5s;
    /* border: 1px blue solid; */
}

.Seccion4 article:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.Seccion4 article figure {
    margin-top: 15px;
    overflow: hidden;
    border-radius: 50%;
}
.Seccion4 article figure img{
    border: 10px white solid;
    
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    align-content:stretch;
    
    border-radius: 50%;
    width: 150px;
    height: 150px;

    transform: scale(1);
    transition: all 1s;
}

.Seccion4 article figure img:hover {
transform: scale(2);
}

.Seccion4 article H1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
.Seccion4 .ajuste {
    color: #FFE8A4;
}
.Seccion4 article p {
    line-height: 30px;
    margin-left: 10px;
}

.Seccion4 article a{
    border: 1px #ED3A84 solid;
    background-color: #ED3A84;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    padding: 15px 25px 15px 25px;
    margin-bottom: 50px;


    transition: all 0.5s;
}

.Seccion4 article a:hover {
    padding: 15px 40px 15px 40px;
    background-color: white;
    color: #ED3A84;
}


.Seccion5 {
    margin-top: 35px;
}
.Seccion5 h1 {
    text-align: center;
}

.Seccion5 .fila_superior {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-items: stretch;
/* border: 1px blue solid; */


max-width: 100%;
}

.Seccion5 .fila_superior figure {
    max-width: 50%;
    max-height: 100%;
}

.Seccion5 .fila_superior figure img {
    width:100%;
    height:100%;
}


.Seccion5 .fila_inferior {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    /* border: 1px blue solid; */
    
    
    max-width: 100%;
    }
    
    .Seccion5 .fila_inferior figure {
        max-width: 50%;
        max-height: 100%;
    }
    
    .Seccion5 .fila_inferior figure img {
        width:100%;
        height:100%;
    }

    .izquierda {
        max-width: 50%;
    }

    .derecha {
        max-width: 50%;
    }

.fotos {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    /* border: 1px red solid; */
}

    .derecha figure {
        max-width: 100%;
        height: 100%;
    }

.fotos .derecha figure img {
        width:100%;
        height:100%;
    }

.Seccion5 figure {
    overflow: hidden;
}

.Seccion5 figure img{
display: block;
transform: scale(1);
transition: all 1s;
}

.Seccion5 figure img:hover {
    transform: scale(2);
}

footer{
/* border: 1px red solid; */
padding-top: 35PX;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
row-gap: 10px;
position: relative;
background-color: #FFFFFF;
}

footer a {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 30px;
    color: #ED3A84;
}
footer .icono {
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    align-content:stretch;
    
    border-radius: 50%;
    width: 35px;
    height: 35px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    position: absolute;

    left: 93%;
    top: 80%;
}

footer .icono a {
    display: inline-block;
}
footer .icono i {
    margin-top: 2px;
    font-size: 20px;
}






